body{
    background-color: #fafafa !important;
}

.container{
    background-color: #fafafa;
    height: 100%;
}

.card-title{
    margin: 20px;
}

.card{
    margin: 20px;
    
}

.btn-light{
    margin: 20px;
    border-color: #c3c7cc !important;
}